include AUTHORS
include README.md
include LICENSE
include configmanners/version.txt
include requirements.txt
include test-requirements.txt
recursive-include configmanners *.py
prune configmanners/cover
